---
layout: default_modernist
title: Hello,World!
---
<h2>{{ page.title }}</h2>
<p>加油！</p>
<h3>代码规范</h3>
<ul>
    {% for post in site.posts %}
    <li>{{ post.date| date_to_string}} {{ post.category}}<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>---作者：{{post.author}}</li>
    {% endfor %}
</ul>
<h3>下面是文章的列表</h3>
<ul>
    {% for post in site.posts %}
    <li>{{ post.date | date_to_string }} <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>---作者：{{post.author}}
    </li>
    {% endfor %}
</ul>
